<body id="homepage">
  
 <!-- <header>
    <div class="container_12">
      <div class="grid_4">
	<a class="logo" alt="Cave Group" href="/"></a>
      </div>
      <nav class="grid_8">
	<%= link_to "О КОМПАНИИ", 'about' %>
	<em>/&nbsp</em>
	<%= link_to "УСЛУГИ", 'services' %>
	<em>/&nbsp</em>
	<%= link_to "ПОРТФОЛИО", 'portfolio' %>
	<em>/&nbsp</em>
	<%= link_to "КОНТАКТЫ", 'contacts' %>
      </nav>
      <div class="grid_18">
	<div class="social"> <a class="social_vk" alt="page vk" href="http://www.vk.com"></a> </div>
	<div class="social"> <a class="social_fb" alt="page fb" href="http://www.facebook.com"></a> </div>
	<div class="social"> <a class="social_twitter" alt="page twitter" href="http://www.twitter.com"></a> </div>
      </div>
    </div>
  </header>  

<div class="hero">
  <div class="container_12">
    <h1>A radically different kind of venture fund</h1>
    <div class="grid_10">
      <p>
      Our hands-on teams work with portfolio companies full-time on design, recruiting,
      <br>
      marketing, and engineering. Startup Lab is a dedicated facility and educational program
      <br>
      where companies can meet, learn, work, and share. We invest hundreds of millions
      <br>
      of dollars each year in entrepreneurs with a healthy disregard for the impossible.
      </p>
    </div>
  </div>
</div> -->

<div class="masonry" role="main">
  <div class="container_12">
    <div class="grid_12">
      <h2 class="intro"> Here’s what we’ve been up to</h2>
	<div class="grid_4">
	  <div class="pitem">
	    <iframe width="320" height="260" src="http://www.youtube.com/embed/sde3v87Qhbk" frameborder="0" allowfullscreen></iframe>
	  </div>
	  <div class="pitem_info">
	    <div class="pitem_inside">
	      <h4>О студии</h4>
	      <a>Рекламная студия "Suvororv Art" была основана</a><br />
	      <a>в Твери в 2007 году Виталием Суоворовым.</a><br />
	      <a>Специализация студии - производство</a><br />
	      <a>качественной видеорекламы, начиная от</a><br />
	      <a>разработки идеи и до её воплощения</a><br />
	      <a class="href" href="/about">подробнее</a>
	    </div>
	  </div>
	  <div class="pitem">
	    <iframe width="320" height="260" src="http://www.youtube.com/v/v8KitFAGeck?version=2&showinfo=0" frameborder="0" allowfullscreen></iframe>
	  </div>
	</div>
	<div class="grid_4">
	  <div class="pitem">
	    <object class="video">
	      <param value="http://www.youtube.com/v/v8KitFAGeck?version=2&showinfo=0" name="movie">
	      <param value="true" name="allowFullScreen">
	      <param value="always" name="allowScriptAccess">
	      <embed width="320" height="260" src="http://www.youtube.com/v/v8KitFAGeck?version=2&showinfo=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true">
	    </object>
	    
	  </div>
	  <div class="pitem">
	    <object class="video">
	      <param value="http://www.youtube.com/v/v8KitFAGeck?version=2&showinfo=0" name="movie">
	      <param value="true" name="allowFullScreen">
	      <param value="always" name="allowScriptAccess">
	      <embed width="320" height="260" src="http://www.youtube.com/v/v8KitFAGeck?version=2&showinfo=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true">
	    </object>
	    
	  </div>
	  <div class="pitem">
	    <object class="video">
	      <param value="http://www.youtube.com/v/v8KitFAGeck?version=2&showinfo=0" name="movie">
	      <param value="true" name="allowFullScreen">
	      <param value="always" name="allowScriptAccess">
	      <embed width="320" height="260" src="http://www.youtube.com/v/v8KitFAGeck?version=2&showinfo=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true">
	    </object>
	    
	  </div>
	</div>
	<div class="grid_4">
	  <div class="pitem">
	    <object class="video">
	      <param value="http://www.youtube.com/v/v8KitFAGeck?version=2&showinfo=0" name="movie">
	      <param value="true" name="allowFullScreen">
	      <param value="always" name="allowScriptAccess">
	      <embed width="320" height="260" src="http://www.youtube.com/v/v8KitFAGeck?version=2&showinfo=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true">
	    </object>
	    
	  </div>
	  <div class="pitem_info">
	    <div class="pitem_inside">
	      <h4>Let's keep in touch</h4>
		<div class="grid_5">
		  <div class="gr">
		    <a href="mailto:info@suvorov-art.ru"><img src="e-mail.png">&nbspemail</a>
		  </div>
		  <div class="gr">
		    <a>twitter</a>
		  </div> 
		</div>
		<div class="grid_5">
		  <div class="gr">
		    <a>facebook</a>
		  </div>
		  <div class="gr">
		    <a>vkontakte</a>
		  </div> 
		</div>
	    </div>
	  </div>
	  <div class="pitem">
	    <object class="video">
	      <param value="http://www.youtube.com/v/v8KitFAGeck?version=2&showinfo=0" name="movie">
	      <param value="true" name="allowFullScreen">
	      <param value="always" name="allowScriptAccess">
	      <embed width="320" height="260" src="http://www.youtube.com/v/v8KitFAGeck?version=2&showinfo=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true">
	    </object>
	  </div>
	  <div class="pitem_info">
	    <div class="pitem_inside adress">
	      <h4>Контактная информация</h4>
	      <a>г. Тверь, пр-т. Калинина, д. 15,</a><br />
	      <a>ТРЦ "Рубин", 3-й этаж, офис 3112</a><br />
	      <a></a><br />
	      <a class="phone">+7 920 159 62 34</a><br />
	      <a class="phone">(4822) 53-36-09</a><br />
	    </div>
	  </div>
	</div>
      </div>
  </div>
</div>

</body>
</html>