/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}
audio, canvas, video {
    display: inline-block;
}
html {
    font-size: 100%;
}
body {
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
}
div {
  display: block;
}
html, body {
  margin: 0;
  display: block;
  background: #FFFFFF;
}
body {
  min-width: 850px;
}
a {
  text-decoration: none;
}
footer a, footer a:visited {
    color: #59879F;
}
@font-face {
  font-family: 'Open Sans';
  src: url(opensanslight.ttf);
  font-family: 'Poiret One';
  src: url(PoiretOne-Regular.ttf);
}
html, button, input, select, textarea {
    color: #222222;
    font-family: 'Open Sans',sans-serif;
}
#homepage .hero {
  min-width: 850px;
  background: url(homepage.jpg) no-repeat scroll center top transparent;
  margin-top: 0 px;
  height: 468px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: -2;
}
.container_12, .conteiner_16  {
  margin-left: auto;
  margin-right: auto;
  width: 850px;
}
#homepage .hero h1 {
  margin-top: 200px;
  color: #FFFFFF;
  text-align: center;
  text-shadow: 2px 2px 5px black;
}
.masonry {
  margin-top: 468px;
  position: relative;
  z-index: 2;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.2);
  height: 100%;
}
#homepage header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}
header {
  margin-top: 35px;
}
#homepage footer {
  margin-top: 0;
}
footer .wraper {
  background: -webkit-linear-gradient(top,rgba(0, 0, 0, 0.8) 0,rgba(0, 0, 0, 0.75) 40px);
  background: -moz-linear-gradient(center top , rgba(0, 0, 0, 0.8) 0px, rgba(0, 0, 0, 0.75) 40px) repeat scroll 0 0 transparent;
  height: 290px;  
}
footer {
  font-weight: 300;
  position: relative;
  background: url(homepage.jpg) no-repeat scroll center top transparent;
  height: 290px;
  font-size: 14px;
}
h1, h2 {
    font-family: 'Merriweather',serif;
    font-weight: 300;
}
header a.logo {
  display: block;
  width: 86px;
  height: 60px;
  background: url("cg_logo.png") no-repeat scroll 0 0 transparent;
}
footer a.logo {
  display: block;
  width: 56px;
  height: 39px;
  background: url("cg_logo_footer.png") no-repeat scroll 0 0 transparent;
}
header a.social_vk {
  width: 26px;
  height: 26px;
  background: url("vk_logo.png") no-repeat scroll 0 0 transparent;
  display: block;
}
header a.social_fb {
  width: 26px;
  height: 26px;
  background: url("fb_logo.png") no-repeat scroll 0 0 transparent;
  display: block;
}
header a.social_twitter {
  width: 26px;
  height: 26px;
  background: url("twitter_logo.png") no-repeat scroll 0 0 transparent;
  display: block;
}
.small_mail {
  width: 18px;
  height: 18px;
  background: url("e-mail.png") no-repeat scroll 0 0 transparent;
  display: block;
}
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16, .grid_18, .social, .nav_footer_grid {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
header nav {
  margin-top: 15px;
  position: relative;
  font-size: 22px;
  text-align: right;
  vertical-align: bottom;
  font-weight: 300;
}
header nav a, header nav a:visited {
  color: #333333;
  white-space: nowrap;
}
header a {
  color: #222222;
  text-decoration: none;
}
.container_12 .drid_4{
  width: 86px;
}
.container_12 .grid_8 {
  width: 560px;
}
.container_12 .grid_18 {
  width: 144px;
}
.container_12 .grid_10 {
  width: 850px;
}
#homepage .hero p {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 300px;
  line-height: 1.5em;
  margin: 35px 30px 0;
  text-align: center;
  text-shadow: 2px 2px 5px #000000;
}
.clearfix:before, .clearfix:after, .container_12:before, .container_12:after, .container_16:before, .container_16:after, .pitem_info:after, .pitem_info:before {
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
.clearfix:after, .container_12:after, .container_16:after, .pitem_info:after, .pitem_info:before {
    clear: both;
}
#homepage .masonry .grid_4 {
  margin-bottom: 40px;
}
.container_12 .grid_18 {
  margin-top: 15px;
}
.masonry h2.intro {
  width: 1020px;
  text-align: center;
  color: #666;
  margin: 40px 0 0px 10px;
  font-family: 'Open Sans',sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .15em;
  font-family: 'Open Sans',sans-serif;
  font-weight: 300;
  font-size: 20px;
}
#homepage .masonry .container_12, footer .container_12 {
  width: 1040px;
}
#homepage .masonry .grid_12, footer .grid_12 {
  width: 1020px;
}
.masonry .video {
  height: 390px; 
  width: 640px;
}
.masonry .pitem {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px; 
  border-radius:4px 4px 4px 4px;
}
.masonry .pitem_info {
  background: none repeat scroll 0 0 #cccccc;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  padding: 0 0 10px;
  position: relative;
  text-align: center;
  position: relative;
}
.pitem_inside {
  margin: 10px 10px 10px 10px;
}
.pitem_inside.adress {
  text-transform: uppercase;
}
footer .grid_2{
  width: 160px;
}
footer .grid_3{
  width: 600px;
}
footer footer .grid_4 {
  width: 200px;
}
.nav_footer_grid_1 {
  margin-top: 50px;
  margin-bottom: 25px;
}
.nav_footer_grid_2 {
  margin-top: 65px;
  margin-bottom: 20px;
}
footer h4 {
  font-weight: 300;
  margin-top: 40px;
  display: inline;
  color: #FFFFFF;
  font-family: 'Open Sans',sans-serif;
  letter-spacing: 0.15em;
  line-height: 2em;
  margin: 0;
}
footer .grid_4 {
  text-align: right;
}
footer ul {
  display: block;
  line-height: 2em;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer li {
    margin: 0;
    padding: 0;
}
.footer_grid_1 {
  display: inline;
  float: left;
  width: 160px;
  text-transform: uppercase;
}
.footer_grid_2 {
  display: inline;
  float: left;
  width: 260px;
  text-transform: uppercase;
}
.footer_grid_3 {
  display: inline;
  float: left;
  width: 340px;
  text-transform: uppercase;
}
.footer_grid_4 {
  display: inline;
  float: left;
  width: 200px;
}
footer .small{
  font-size: 12px;
  color: #FFFFFF;
}
footer .middle{
  font-size: 14px;
  color: #FFFFFF;
  text-transform: uppercase;
}
footer .big{
  font-size: 18px;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.pitem_info h4 {
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'Poiret One';
}
.pitem_info a {
  font-size: 14px;
  font-family: 'Poiret One';
  color: #333;
}
a.href {
  text-decoration: underline;
  color: #000;
}
a.phone {
  font-size: 16px;
  color: #000;
}
.gr {
  width: 110px;
  margin: 10px;
}
